@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap');


$main-brown: rbga(68, 55, 34, 1);
$sub-brown: rbga(68, 55, 34, 0.7);

.center {
  width: 100%;
  text-align: center;
}

.indent1 {
  padding-left: 1em;
}


.title-a {
  font-size: 18px;
  font-weight: 700;
  font-family: Noto Serif JP;
  color: $main-brown;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.text-a {
  font-size: 16px;
  font-weight: 500;
  font-family: Noto Serif JP;
  color: $main-brown;
  line-height: 1.4;
}
.text-b {
  font-size: 16px;
  font-weight: 500;
  font-family: Noto Serif JP;
  color: $main-brown;
  line-height: 1.4;
}
.text-c {
  font-size: 16px;
  font-weight: 400;
  font-family: Noto Serif JP;
  color: $sub-brown;
  line-height: 1.4;
}


// .title-a {
//   font-size: 32px;
//   font-weight: 700;
//   font-family: Noto Serif JP, serif;
//   color: $main-brown;
//   letter-spacing: 0.1em;
//   line-height: 1.4;
// }
